

.user-sub-summary{
  padding: .5em;
  margin: 2em;
  /* background-color: #ddd5d5c9; */
  background-image: radial-gradient(#C1292E, #EA9A9D);
  width: fit-content;
  border-radius: 2em;
}

.user-sub-summary p, .user-sub-summary h4{
  margin: .5em;
}

/* * {
  background-color: #EA9A9D;
} */

body {
  background-color: #C1292E;
}

.box-pic {
  width: 80%;
  height: auto;
  margin: 1em;
  border-radius: 4em;
  max-height: 12em;
}

/* .box-description {
  height: 1em;
} */

#credit-card-form {
  text-align: center;
}

.box-detail-content, .already-sub {
  font-size: 1.5em;
  margin: 0.25em;
}

.content-title {
  font-weight: bolder;
  font-size: 1.25em;
}

.modal-button {
  display: inline;
  max-width: 50%;
  font-size: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.modal-title {
  font-size: 2em;
  margin: 0.15em;
}

.login-page{
  justify-content: center;
}

/* .box-description {
  overflow: scroll;
  max-height: 4em;
} */

.box-info {
  grid-area: box;
}

.sub-info {
  grid-area: sub;
}

.headline {
  grid-area: minititle;
}

.user-edit-form{
  grid-area: form;
  display: flex;
}

.user-edit-buttons{
  grid-area: buttons;
}

.subscription-edit{
  display: grid;
  grid-template-areas: 
  "box sub"
  "box sub"
  "minititle minititle"
  "form form"
}

.admin-edit-form{
  display: grid;
  text-align: center;
  grid-template-areas:
  "title image price "
  "items items items "
  "description  description description"
  "buttons buttons buttons " ;
}

.admin-edit-form textarea, #admin-edit-form input{
  margin: .5em;
  width: 90%;
  /* background-color: #321213; */
  /* width: fit-content; */
}

.admin-edit-form input {
  width: 80%;
}


.admin-title{
  grid-area: title;
}

.admin-image{
  grid-area: image;
}

.admin-price{
  grid-area: price;
}

.admin-contents{
  grid-area: items;
}

.admin-contents textarea{
  height: 6em;
}

.admin-description{
  grid-area: description;
}

.admin-description textarea{
  height: 6em;
}

.admin-btn {
  grid-area: buttons;
}


.box-detail .box-pic {
  border: #BA262B solid 2px;
  /* width: 22em; */
  height: 20em;
  width: auto;
  justify-self: center;
}

.checkout, .box-detail, .user-edit-sub {
  padding: .5em;
}

.column {
  float: left;
  width: 50%;
}

.box-detail {
  align-items: center;
  display: grid;
}

.box-detail h2{
  text-align: center;
}

.btn-label {
  font-size: 1.25em;
  padding: 1em;
  display: inline;
  max-width: 45%;
}

.label-btn-div {
  padding: 1em;
  text-align: center;
}


.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-items, .userSubscription {
  display: flex;
  margin-left: 10em;
  float: left;
  text-align: center;
  justify-content: center;
  /* background-color: pink; */
  background-image: linear-gradient(#EA9A9D, #C1292E);
  /* border: grey solid 1px; */
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  border-radius: 1em;
}

.box-items p, .box-items h1, .userSubscription p {
  padding: .01em;
  margin: .01em;
}

.box-items h1 {
  font-size: 2em;
  /* width: ; */
}
.box-items button, .userSubscription button {

  /* border-radius: 5em;
  /* width: fit-content; */
  /* background-color: antiquewhite;
  padding: 0em 2em;
  font-family:'Dosis', sans-serif;
  font-size: 1em; */ 

  text-decoration: none;
  margin: .5em;
  margin-top: 0em;
  background-color: antiquewhite;
  border-radius: 5em;
  padding: .2em;
  transition: 1s;
  border: 0px;
  font-family:'Dosis', sans-serif;
  font-size: 1em;
}

.box-items button:hover, .userSubscription button:hover {
  padding: .01em;
  margin: .01em;
  border-radius: 5em; 
}

.boxes-search{
  /* background-color: #2bba26; */
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #EA9A9D, #C1292E);
  margin: .5em ;
  padding: .5em;
  border-radius: 1em;
}

.boxes-search ::placeholder{
  /* background-color: #2bba26; */
  color: #321213;
}

.boxes-search label {
  margin-left: 1em;
  margin-right: .5em;
}

.boxes-search input, .boxes-search select{
  background-color: #f08f92d9;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* overflow: hidden */
}


.modal {
  position: fixed;
  z-index: 20;
  background: rgba(248, 243, 243, 0.85);
  width: 70vw;
  border-radius: 1em;
  box-shadow: 2px 2px 10px 5px #ddd5d5;


  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: orangered;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.close-button {
  border: none;
  background: transparent;
  padding: .5em;
  cursor: pointer;
  color: red;
  font-size: 1.5em;
  border-radius: 15em;
  transition: 1s;

}

.checkout-issue, .logon-issue{
  background-color: rgba(133, 201, 201, .5);
  color: #982a2d;
  font-weight: 400;
  width: fit-content;
  border-radius: 5px;
  font-size: 1.1em;
  /* margin-left: 1em; */
}

.signup_issues{
  border: #982a2d solid 2px;
  border-radius: 1em;
  box-shadow: 2px 3px 2px #EA9A9D;
  width: fit-content;
  margin: 2em;
}

/* .checkout-issue, .logon-issue p {
  margin: 2em;
} */

.close-button:hover {
  background-color: red;
  color: #fff;
}

.button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;

}

.button:hover {
  background: orange;
}

#welcome-user, .header-logo {
  display: inline-block;
  /* padding-left: 1.5em; */
  font-size: 1.75em;
}

#logging-out {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
  animation-iteration-count: infinite;
}

@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

.form-label {
  display: block;
  font-size: 1.5em;
}

.form-input {
  text-align: center;
  font-size: 1.25em;
  border-radius: 1em;
}


.loading-page {
  text-align: center;
}

#loading-cat {
  height: 20em;
}

#admin-edit-form {
  text-align: center;

}

#logo-img {
  margin-left: 2em;
  max-width: 17.5em;
  max-height: 15em;
  border-radius: 2em;
  float: left;
}

#header-logo-div {
  display: flex;
  justify-content: center;
}

.search-bar-label {
  font-size: 1.5em;
}


