@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
  font-family:'Poppins', 'Dosis', sans-serif;
}
.header {
  background-color: white;
  /* background-image: linear-gradient(to right, rgba(133, 201, 201, .5), teal); */
  
  text-align: center;
  border-radius: 2em;
  /* border: .2em solid black; */
  padding: .2em;
  position: fixed;
  width: 98vw;
  top: .5em;
  height: 7em;
  box-shadow: gray 2px 2px 5px;
}


body{
  padding-top: 8.5em;
}

.centered {
  transform: translate(0%);
}

/* .navLinks{
  overflow: clip;
} */
.navLinks a, .fake-header-link, .modal-button {
  text-decoration: none;
  margin: .5em;
  margin-top: 0em;
  /* background-color: antiquewhite; */
  background-color: white;
  color: darkblue;
  border-radius: 1em;
  padding: .2em;
  transition: 1s;
  border: 0px;
  font-family:'Dosis', sans-serif;
  font-size: 1em;
}

/* .navLinks {
  overflow-x: scroll;
} */



.navLinks a:hover, .fake-header-link:hover, .navLinks button:hover, .modal-button:hover{
  text-decoration: none;
  margin: .75em;
  background-color: rgb(153, 136, 114);
  border-radius: 5em;
  padding: .2em;
}

.edit-sub-form{
  background-color: antiquewhite;
  width: 2.5em;
}

.active {
  color: red;
  /* background-color: pink; */
}

.loading-page img {
    border: 2px solid #6A8D73;
    border-radius: 5em;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
}



.login-form {
  background-color:  #dfe3dd;
  ;
  /* box-shadow: 2px 2px 20px 10px inset #ddd5d5; */
  /* background-image: linear-gradient(#EA9A9D, #C1292E, #721d20); */
  /* background-color: #BA262B; */
  /* border: #6A8D73 solid 2px; */
  border-radius: 5em;
  text-align: center;
  align-items: center;
  /* flex: auto; */
  width: 70vw;
  /* left: 50%; */
}

/* .login-form label {
  /* float: left; */



.signup_form {
  text-align: center;
  align-items: baseline;
}

.signup_form input {
  margin-left: 1em;
  margin-bottom: .5em;
  right: 80%;
}

.login-form button {
  padding: .5em;
  margin: .5em;
}

.signup_form label {
  margin-right: .5em;
}

.signup_form input, .login-form input {
  /* background-color: #BA262B; */
  background-color: white;
  color: #0c0666;
  font-size: 1em;
  border: 0px;
}
