/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.header {
  /* background-color: aqua; */
  background-image: linear-gradient(to right, aqua, teal);
  text-align: center;
  border: .2em solid black;
  padding: .2em;
  position: fixed;
  width: 90vw;
  top: .5em;
  height: 7em;
}

body{
  padding-top: 7.2em;
}

.centered {
  transform: translate(0%);
}

.navLinks a, .navLinks button {
  text-decoration: none;
  margin: .5em;
  background-color: antiquewhite;
  border-radius: 5em;
  padding: .2em;
  transition: 1s;
}

.checkout, .box-detail, .user-edit-sub {
  padding: .5em;
}


.navLinks a:hover, .navLinks button:hover{
  text-decoration: none;
  margin: .75em;
  background-color: rgb(153, 136, 114);
  border-radius: 5em;
  padding: .2em;
}

.active {
  color: red;
  /* background-color: pink; */
}



.signup_form {
  background-color: antiquewhite;
  border-radius: 5em;
  text-align: center;
  width: 70vw;
  left: 50%;
}

.signup_form label {
  margin-right: .5em;
}

.signup_form input {
  background-color: rgba(135, 209, 209, 0.5);
}